---
import Home from "../components/Home.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import DireccionesRow from "../components/DireccionesRow.astro";
import Img6 from "../components/Img6.astro";
import Facilitadores from "../components/Facilitadores.astro";
import DireccionesSection from "@/components/DireccionesSection.astro";
---

<Layout title="Rueda Chamánica">
  <Navbar />

  <main class="flex flex-col w-full">
    <Home />
    <DireccionesRow />
    <DireccionesSection />
    <Img6 />
    <Facilitadores />
  </main>
</Layout>
