---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/Navbar.astro";
import Home from "@/components/Home.astro";
import DireccionesRow from "@/components/DireccionesRow.astro";
import DireccionesSection from "@/components/DireccionesSection.astro";
import Maestria from "@/components/Maestria.astro";
import Facilitadores from "@/components/Facilitadores.astro";
import EspaiKalma from "@/components/EspaiKalma.astro";
import Contact from "@/components/Contact.astro";
---

<Layout title="Rueda Chamánica">
  <Navbar />

  <main class="flex flex-col w-full">
    <Home />
    <DireccionesRow />
    <DireccionesSection />
    <Maestria />
    <Facilitadores />
    <EspaiKalma />
    <Contact />
  </main>
</Layout>
