---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/Navbar.astro";
import SectionHome from "@/components/SectionHome.astro";
import SectionDirections from "@/components/SectionDirections.astro";
import Directions from "@/components/Directions.astro";
import SectionMaestria from "@/components/SectionMaestria.astro";
import SectionTemazcal from "@/components/SectionTemazcal.astro";
import SectionFacilitadores from "@/components/SectionFacilitadores.astro";
import SectionEspai from "@/components/SectionEspai.astro";
import SectionContact from "@/components/SectionContact.astro";
---

<Layout title="Rueda Chamánica">
  <Navbar />

  <main class="flex flex-col w-full">
    <SectionHome />
    <SectionDirections />
    <Directions />
    <SectionMaestria />
    <SectionTemazcal />
    <SectionFacilitadores />
    <SectionEspai />
    <SectionContact />
  </main>
</Layout>
