---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/Navbar.astro";
import SectionHome from "@/components/SectionHome.astro";
import SectionDirections from "@/components/SectionDirections.astro";
import DireccionesSection from "@/components/DireccionesSection.astro";
import Maestria from "@/components/Maestria.astro";
import Facilitadores from "@/components/Facilitadores.astro";
import SectionEspai from "@/components/SectionEspai.astro";
import Contact from "@/components/Contact.astro";
---

<Layout title="Rueda Chamánica">
  <Navbar />

  <main class="flex flex-col w-full">
    <SectionHome />
    <SectionDirections />
    <DireccionesSection />
    <Maestria />
    <Facilitadores />
    <SectionEspai />
    <Contact />
  </main>
</Layout>
