---
import HomeSection from "../components/Home.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Rueda Chamánica">
  <header class="fixed top-0">
    <Navbar />
  </header>

  <main class="bg-gray-400">
    <HomeSection />
  </main>
</Layout>

<style></style>
