<li
  class="flex flex-col bg-[url('/snake-bg.svg')] text-center text-slate-50"
>
  <header class="flex flex-col gap-2 p-6 pb-0">
    <picture class="w-[250px]">
      <img src="/snake-circle.png" alt="Snake circle" />
    </picture>

    <h3 class="font-title text-6xl">SUR</h3>
  </header>

  <main class="flex flex-col items-center px-6">
    <span
      class="font-bold tracking-wider text-[#59203a] rounded-full mt-3 bg-slate-50 px-4 shadow-[4px_4px_0_0_#333]"
    >
      PRIMERA DIRECCIÓN
    </span>

    <p class="font-title text-xl leading-[20px] mt-3">
      EL CAMINO SANADOR
      <br />
       Y LA SANADORA HERIDOS
    </p>
  </main>

  <footer class="flex w-full justify-center mt-8 px-6">
    <span
      class="text-sm font-semibold tracking-wider text-slate-50 bg-[#59203a] rounded-t-full pt-2 pb-1 w-full"
    >
      SACHAMAMA (SERPIENTE)
    </span>
  </footer>
</li>
