<a href="#norte" class="flex flex-col bg-[url('/colibri-bg.svg')] text-center text-slate-50 rounded-md">
  <header class="flex flex-col gap-2 p-6 pb-0">
    <picture class="w-[250px]">
      <img src="/colibri-circle.png" alt="Snake circle" />
    </picture>

    <h3 class="text-6xl font-title">NORTE</h3>
  </header>

  <main class="flex flex-col items-center px-6">
    <span
      class="font-bold tracking-wider text-[#3E5054] rounded-full mt-3 bg-slate-50 px-4"
    >
      TERCERA DIRECCIÓN
    </span>

    <p class="font-title text-xl leading-[20px] mt-3">
      La dirección del y la
      <br />
      maestría interna
    </p>
  </main>

  <footer class="flex justify-center w-full px-6 mt-auto">
    <span
      class="text-sm font-semibold tracking-wider text-slate-50 bg-[#3E5054] rounded-t-full pt-2 pb-1 w-full"
    >
    COLIBRÍ
    </span>
  </footer>
</a>
