<a href="#este" class="flex flex-col bg-[url('/condor-bg.svg')] text-center text-slate-50 rounded-md">
  <header class="flex flex-col gap-2 p-6 pb-0">
    <picture class="w-[250px]">
      <img src="/condor-circle.png" alt="Snake circle" />
    </picture>

    <h3 class="text-6xl font-title">ESTE</h3>
  </header>

  <main class="flex flex-col items-center px-6">
    <span
      class="font-bold tracking-wider text-[#392B4F] rounded-full mt-3 bg-slate-50 px-4"
    >
      CUARTA DIRECCIÓN
    </span>

    <p class="font-title text-xl leading-[20px] mt-3">INTEGRACIÓN</p>
  </main>

  <footer class="flex justify-center w-full px-6 mt-auto">
    <span
      class="text-sm font-semibold tracking-wider text-slate-50 bg-[#392B4F] rounded-t-full pt-2 pb-1 w-full"
    >
      EL ÁGUILA Y EL CÓNDOR
    </span>
  </footer>
</a>
