---
import Form from "@/components/Form.astro";
---

<footer id="contacto" class="flex justify-center bg-[#164752] py-24">
  <div class="flex flex-wrap justify-center items-center max-w-7xl">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2998.9931935569193!2d1.3583260914132909!3d41.26548410128197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a3f9ab2487b1fb%3A0xbbf6356c083ce9f7!2sESPAI%20LA%20KALMA!5e0!3m2!1ses!2ses!4v1701457339482!5m2!1ses!2ses"
      width="450"
      height="650"
      loading="lazy"
      referrerpolicy="no-referrer"
      title="Espai la Kalma, Vial Camino, 0, 43812 Tarragona"
      class="rounded-xl"></iframe>

    <Form />
  </div>
</footer>
