---
import CardSur from "./CardSur.astro";
---

<section class="flex flex-col bg-[url('direcciones-bg.svg')] w-full">
  <header class="flex flex-col wfull items-center gap-24">
    <picture>
      <img src="/cinta.png" class="w-full" alt="Cinta" />
    </picture>

    <h2 class="font-title text-6xl text-orange-950 mb-10">
      LAS CUATRO DIRECCIONES
    </h2>
  </header>

  <main class="flex flex-col w-full items-center">
    <ul class="flex gap-2">
      <li><CardSur /></li>
      <li><CardSur /></li>
      <li><CardSur /></li>
      <li><CardSur /></li>
    </ul>
  </main>

  <footer class="mt-24">
    <picture>
      <img src="/cinta.png" class="w-full" alt="Cinta" />
    </picture>
  </footer>
</section>
