<section class="bg-[url('direcciones-bg.svg')] ">
    <img src="/cinta.svg" class="w-screen" alt="">
    <div class="flex flex-col  w-full items-center">
        <h2 class="font-title text-6xl text-orange-950 mb-10">LAS CUATRO DIRECCIONES</h2>
        <div class="flex static">
            <div class="flex static flex-col bg-[url('/snake-bg.svg')] w-[300px] h-auto p-6 text-center text-slate-50">
                <img src="/snake-circle.png" alt="">
                <h3 class="font-title text-6xl">SUR</h3>
                <h4 class="font-base font-bold tracking-wider text-[#59203a] rounded-full mt-3 w-auto bg-slate-50">PRIMERA DIRECCIÓN</h4>
                <h5 class="font-title text-xl leading-[20px] mt-3">EL CAMINO SANADOR<br/>
                Y LA SANADORA HERIDOS</h5>
                <h6 class="font-base text-sm font-semibold tracking-wider bottom-0 text-slate-50 left-0 bg-[#59203a] rounded-t-full">SACHAMAMA (SERPIENTE)</h6>
            </div>
        </div>
    </div>
    <img src="/cinta.svg" class="w-screen" alt="">
</section>