<section 
  id="espai-la-kalma"
  class="flex flex-col gap-2 items-center bg-white bg-[url('/faci-bg.png')] pt-24"
>
  <span
    class="font-semibold text-black text-lg tracking-widest rounded-full px-6 py-1 -mb-4"
    >TRANQUILIDAD Y NATURALEZA</span
  >
  <h2 class="font-title text-orange-500 text-8xl leading-none">
    Espai la Kalma
  </h2>

  <p class="max-w-4xl text-lg text-center mt-12">
    Casa de retiros, para 14 personas, piscina privada salina. Espa i la Kalma,
    nace entre viñas y cultivos, muy cerca del río Gaià, un río aparentemente
    tranquilo, cuando se e nfada baja con fuerza, sus aguas llenas de vida y
    amor. A lo lejos observamos el santuario de Montserrat, un sa ntuario muy
    especial que nace entre montaña y viñas, Jujol (discípulo de Gaudí), hombre
    de mucha fe, eli gió esa ubicación, pues según él, es un camino de fe y un
    enclave muy energético y especial.
  </p>

  <div class="flex min-w-full bottom-0 left-0 mt-24">
    <img src="/espai-kalma/espai-1.jpg" alt="foto-espai-1" class="w-1/4">
    <img src="/espai-kalma/espai-2.jpg" alt="foto-espai-2" class="w-1/4">
    <img src="/espai-kalma/espai-3.jpg" alt="foto-espai-3" class="w-1/4">
    <img src="/espai-kalma/espai-4.jpg" alt="foto-espai-4" class="w-1/4">
  </div>
</section>
