<div
  class="wfull flex aspect-[10/4] bg-[url('montserrat.jpg')] bg-fixed bg-no-repeat bg-cover"
>
</div>

<section
  id="#facilitadores"
  class="flex flex-col gap-24 items-center bg-[url('/facilitadores-bg.jpg')] bg-no-repeat bg-cover py-20"
>
  <h2 class="font-title text-slate-50 text-8xl leading-none">Facilitadores</h2>

  <ul class="w-full flex gap-6 snap-x snap-mandatory overflow-x-auto pb-14 hide-scrollbar">
    <span class="shrink-0 w-1/2"></span>
    
    <li class="snap-center shrink-0 h-96 aspect-[6/3]">
      <img class="shrink-0 w-full h-full rounded-lg shadow-xl bg-white" src="/lucia.png">
    </li>
    <li class="snap-center shrink-0 h-96 aspect-[6/3]">
      <img class="shrink-0 w-full h-full rounded-lg shadow-xl bg-white" src="/lidia.png">
    </li>
    <li class="snap-center shrink-0 h-96 aspect-[6/3]">
      <img class="shrink-0 w-full h-full rounded-lg shadow-xl bg-white" src="/lucia.png">
    </li>
    <li class="snap-center shrink-0 h-96 aspect-[6/3]">
      <img class="shrink-0 w-full h-full rounded-lg shadow-xl bg-white" src="/lidia.png">
    </li>

      <span class="shrink-0 w-1/2"></span>
    </ul>
</section>