<form class="flex flex-col gap-4 w-1/2 pl-20">
  <h2 class="font-title text-white text-6xl leading-none">Es tu momento</h2>
  <p class="max-w-4xl text-lg text-gray-100">
    Si deseas participar en la rueda o tienes alguna consulta, rellena el
    formulario o envíanos un correo a <a
      href="mailto:mail@espailakalma.com"
      class="underline hover:no-underline">mail@espailakalma.com</a
    >
  </p>

  <fieldset class="flex flex-col mt-12 gap-4 w-full">
    <label for="fullname" class="w-full">
      <input
        type="text"
        id="fullname"
        name="fullname"
        placeholder="Nombre completo"
        required
        class="bg-transparent text-white placeholder-gray-300 border-b py-2 text-xl w-full"
      />
    </label>
    <label for="email">
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Correo electrónico"
        required
        class="bg-transparent text-white placeholder-gray-300 border-b py-2 text-xl w-full"
      />
    </label>
    <label for="message">
      <textarea
        name="message"
        id="message"
        placeholder="Tu mensaje aquí..."
        required
        class="bg-transparent text-white placeholder-gray-300 border-b py-2 text-xl w-full resize-none h-48"
      ></textarea>
    </label>
  </fieldset>

  <fieldset class="flex flex-wrap gap-4 text-white">
    <button
      type="submit"
      class="tracking-widest text-lg border-2 border-gray-50 rounded-full px-12 py-2 font-semibold hover:bg-gray-50 hover:text-gray-400 transition"
    >
      Enviar
    </button>

    <button
      type="reset"
      class="tracking-widest text-lg rounded-full p-2 font-semibolds hover:text-gray-400 transition"
    >
      Limpiar formulario</button
    >
  </fieldset>
</form>
