<section
  class="bg-[url('landing-bg.svg')] bg-cover flex flex-col gap-6 items-center min-h-screen p-16 pt-[100px] text-gray-50"
>
  <span class="mt-32 font-semibold text-2xl tracking-widest">LIDIA HIDALGO</span
  >
  <h1 class="font-title text-8xl leading-[80px]">
    FORMACIÓN
    <br />
     CHAMÁNICA
    <br />
     Y MAESTRÍA
  </h1>

  <a
    href="#contacto"
    class="tracking-widest text-lg border-2 border-gray-50 rounded-full px-8 py-2 font-semibold mt-10"
    >RESERVAR</a
  >
  <img src="/arrow.svg" class="h-10 mt-10" alt="" />
   <div class="flex bg-orange-500 w-1/2">
    <div class="flex flex-col w-1/2 p-12 gap-4">
      <h2 class="font-title text-4xl">
        ¿Qué es una<br />
         Rueda Chamánica?
      </h2>
      <p>
        La Rueda Chamánica de las Cuatro Direcciones es un programa que implica
        el descubrimiento de cuatro animales de poder y la exploración de cuatro
        direcciones a través de retiros.
      </p>
    </div>
    <div class="flex">
      <img src="/carrousel1.png" class="max-h-1500 object-cover object-left" alt="">
    </div>
  </div>
</section>
