<section
  class="flex flex-col gap-6 items-center min-h-screen p-16 pt-[100px] text-gray-50"
>
  <span class="mt-32 font-semibold text-2xl tracking-widest">LIDIA HIDALGO</span
  >
  <h1 class="font-title text-8xl leading-[80px]">
    FORMACIÓN
    <br />
     CHAMÁNICA
    <br />
     Y MAESTRÍA
  </h1>

  <a
    href="#contacto"
    class="tracking-widest text-lg border-2 border-gray-50 rounded-full px-8 py-2 font-semibold mt-10"
    >RESERVAR</a
  >
</section>
