---
import ArrowDown from "@/icons/ArrowDown.astro";
import Ornament from "@/icons/Ornament.astro";
import Feathers from "@/components/Feathers.astro";
---

<section
  id="la-rueda"
  class="relative bg-[url('landing-bg.svg')] bg-cover flex flex-col gap-4 items-center text-gray-50"
>
  <header class="flex flex-col items-center gap-4 py-28">
    <span class="mt-32 font-semibold text-2xl tracking-widest">
      LIDIA HIDALGO
    </span>

    <h1 class="font-title text-6xl lg:text-9xl leading-[50px] lg:leading-[100px]">
      FORMACIÓN
      <br />
       CHAMÁNICA
      <br />
       Y MAESTRÍA
    </h1>

    <a
      href="#contacto"
      class="tracking-widest text-lg border-2 border-gray-50 rounded-full px-12 py-2 font-semibold mt-20 hover:bg-gray-50 hover:text-gray-400 transition"
    >
      RESERVAR
    </a>

    <picture class="w-8 mt-20">
      <ArrowDown />
    </picture>

    <Feathers />
  </header>

  <article class="relative flex bg-orange-500 max-w-5xl w-full mb-48">
    <div class="flex flex-col w-[55%] justify-center gap-4 p-12">
      <h2 class="font-title text-5xl">
        ¿Qué es una
        <br />
         Rueda Chamánica?
      </h2>

      <p class="text-xl">
        <strong class="font-semi">La Rueda Chamánica de las Cuatro Direcciones</strong> es un programa que implica
        el descubrimiento de cuatro animales de poder y la exploración de <strong class="font-semi">cuatro
        direcciones a través de retiros</strong>, culminando en una etapa de maestría.
      </p>
    </div>
    

    <picture class="w-[45%] ml-auto">
      <img src="/carrousel1.png" alt="Rueda Chamánica" />
    </picture>

    <picture class="absolute w-full top-2">
      <Ornament />
    </picture>

    <picture class="absolute w-full bottom-2 rotate-180">
      <Ornament />
    </picture>
  </article>
</section>
