<header class="fixed flex justify-center w-full top-0 z-10">
  <nav class="flex justify-between items-center max-w-6xl w-full text-gray-50 p-4">
    <span class="font-title leading-4 text-lg">
      FORMACIÓN
      <br />
       CHAMÁNICA
      <br />
       Y MAESTRÍA
    </span>

    <ul class="flex gap-10 text-xl">
      <li>La Rueda</li>
      <li>Direcciones</li>
      <li>Maestría</li>
      <li>Facilitadores</li>
      <li>El lugar</li>
      <li>Contacto</li>
    </ul>
  </nav>
</header>
