<header class="fixed flex justify-center w-full top-0 z-20">
  <span
    class="absolute -translate-y-1/2 w-[200%] h-72 bg-teal-950/70 blur-3xl flex pointer-events-none"
  ></span>

  <nav
    class="flex justify-between items-center max-w-6xl w-full text-gray-50 p-4 z-10"
  >
    <span class="font-title leading-5 text-2xl">
      <a href="#la-rueda">
        FORMACIÓN
        <br />
         CHAMÁNICA
        <br />
         Y MAESTRÍA
      </a>
    </span>

    <ul class="hidden lg:flex gap-10 text-xl">
      <li class="hover:border-b py-2">
        <a href="#la-rueda">La Rueda</a>
      </li>
      <li class="relative group py-2">
        <a href="#direcciones">Direcciones</a>

        <ul
          class="absolute top-3/4 bg-teal-950/30 backdrop-blur w-32 border-l flex flex-col opacity-0 group-hover:opacity-100 group-hover:top-full transition-all"
        >
          <li class="flex hover:bg-white hover:text-gray-400">
            <a href="#sur" class="w-full px-4 py-2">Sur</a>
          </li>
          <li class="flex hover:bg-white hover:text-gray-400">
            <a href="#oeste" class="w-full px-4 py-2">Oeste</a>
          </li>
          <li class="flex hover:bg-white hover:text-gray-400">
            <a href="#norte" class="w-full px-4 py-2">Norte</a>
          </li>
          <li class="flex hover:bg-white hover:text-gray-400">
            <a href="#este" class="w-full px-4 py-2">Este</a>
          </li>
        </ul>
      </li>
      <li class="py-2 hover:border-b">
        <a href="#maestria">Maestría</a>
      </li>
      <li class="py-2 hover:border-b">
        <a href="#facilitadores">Facilitadores</a>
      </li>
      <li class="py-2 hover:border-b">
        <a href="#espai-la-kalma">El lugar</a>
      </li>
      <li class="py-2 hover:border-b">
        <a href="#contacto">Contacto</a>
      </li>
    </ul>
  </nav>
</header>
