<nav class="flex min-w-full bg-black justify-between text-gray-50">
  <span class="font-title">FORMACIÓN CHAMÁNICA Y MAESTRÍA</span>
  <ul class="flex gap-10">
    <li>La Rueda</li>
    <li>Direcciones</li>
    <li>Maestría</li>
    <li>Facilitadores</li>
    <li>El lugar</li>
    <li>Contacto</li>
  </ul>
</nav>
