<section
  id="santusa"
  class="min-h-screen flex flex-col items-center bg-[url('/la-vision/vision-bg.jpg')] bg-no-repeat bg-cover text-stone-500"
>
<figure class="w-full overflow-hidden">
  <img
    src="/santusa/santusa.jpg"
    width="100%"
    alt="santusa"
  />
</figure>
  <header class="flex flex-col items-center text-center pt-20 px-8">
    <h2 class="font-title text-7xl lg:text-9xl leading-none">Doña Santusa</h2>
    <h3 class="font-title text-4xl mt-2 leading-none">
      auténtica q'ero, p'aqo ñusta, altomesallock
    </h3>

    <time
      class="max-w-4xl leading-6 mt-12 text-2xl text-black/70 font-semibold"
      datetime="DEL 25 DE MARZO AL 28 DE ABRIL"
    >
    En colaboración con la Escuela Espailakalma.
   Próxima visita a España,  fechas por confirmar
    </time>
  </header>

  <main class="flex flex-col items-center text-center mt-8 px-8">
    <h2 class="max-w-6xl leading-6 font-bold text-xl text-black/70">
      ¿Quién és Doña Santusa y porqué es tan especial?
    </h2>
    <p class="max-w-6xl leading-6 text-xxl text-black/70 mt-5">
      Mujer medicinal y Ñusta vinculada a la medicina de los Apus (montañas
      sagradas) y de la Mamacocha (agua), mujer que le canta a Mamá Sirena para
      atraer su sanación bajo la cascada de los ríos fríos del Perú. Empoderada
      y valiente, canta su condición Indígena, por la cual ha decidido
      entregarse al servicio y compartir sus enseñanzas con la humanidad
      interesada. Ofrecerá sanaciones individuales y talleres de crecimiento y
      sanación, auténticos. Sin perder esa alegría, humildad, inocencia y bondad
      que la caracteriza. Mujer que al conectar con la nieve de las montañas de
      los Andes, hace fluir su esencia materna y femenina, su néctar sagrado,
      para ayudar a sanar, si así se requiere. Trasmutadora de energías densas,
      mujer Pachamama.
    </p>
  </main>

  <footer class="flex flex-wrap justify-center text-center w-full gap-4 mt-16 mb-16">
    <a
      href="/santusa/Santusa.pdf"
      target="_blank"
      class="min-w-[250px] tracking-widest text-lg border-2 border-stone-500 bg-stone-500 text-stone-100 rounded-full px-12 py-2 font-semibold hover:bg-stone-700 hover:border-stone-700 transition"
      >INFORMACIÓN</a
    >
    <a
      href="/#contacto"
      class="min-w-[250px] tracking-widest text-lg border-2 border-stone-500 rounded-full px-12 py-2 font-semibold hover:border-stone-700 hover:text-stone-700 transition"
      >APUNTARME</a
    >
  </footer>

  
</section>
