<section
  id="la-vision"
  class="min-h-screen flex flex-col items-center bg-[url('/la-vision/vision-bg.jpg')] bg-no-repeat bg-cover text-stone-500"
>
  <header class="flex flex-col items-center text-center pt-20 px-8">
    <h2 class="font-title text-7xl lg:text-9xl leading-none">
      LA BÚSQUEDA
      <br />
      DE VISIÓN
    </h2>

    <time
      class="max-w-4xl leading-6 mt-6 text-2xl text-black/70 font-semibold"
      datetime="Del sábado 23 a las 17:00 al jueves 28 de Marzo a las 18:00h"
    >
      Primavera 2026 | Fechas por confirmar
    </time>
  </header>

  <main class="flex flex-col items-center text-center mt-8 px-8">
    <h2 class="max-w-6xl leading-6 font-bold text-xl text-black/70">
      ¿Quieres vivir unos días en tribu, cantos, alegría, apoyo, amor,
      temazcales, comida rica, río, naturaleza, trabajos energéticos, caminatas
      de poder, tambores y mucho, mucho más?
    </h2>
    <p class="max-w-6xl leading-6 text-xxl text-black/70 mt-5">
      Iniciamos el recorrido de 4 ciclos, 4 rezos y cuatro años, para facilitar
      al participante a formarse en la magia del Temazcal y recordar quién es,
      empoderarse y vivir la experiencia de estar en contacto directo con la
      Gran Madre.
    </p>
  </main>

  <footer class="flex flex-wrap justify-center text-center w-full gap-4 mt-16">
    <a
      href="/la-vision/la-busqueda-de-vision.pdf"
      target="_blank"
      class="min-w-[250px] tracking-widest text-lg border-2 border-stone-500 bg-stone-500 text-stone-100 rounded-full px-12 py-2 font-semibold hover:bg-stone-700 hover:border-stone-700 transition"
      >INFORMACIÓN</a
    >
    <a
      href="/#contacto"
      class="min-w-[250px] tracking-widest text-lg border-2 border-stone-500 rounded-full px-12 py-2 font-semibold hover:border-stone-700 hover:text-stone-700 transition"
      >APUNTARME</a
    >
  </footer>

  <figure class="w-full">
    <img
      src="/la-vision/mountains.svg"
      width="100%"
      alt="Montañas de la Visión"
    />
  </figure>
</section>
