---
import "../fonts/clash-display.css";
import "../fonts/jawbreak.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-base">
    <div class="flex flex-col items-center w-full overflow-x-hidden">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  :root {
    scroll-behavior: smooth;
    text-wrap: balance;
  }

  .hide-scrollbar::-webkit-scrollbar {
          display: none;
      }

  .hide-scrollbar {
          -ms-overflow-style: none;
          scrollbar-width: none;
    }
</style>
